.jumbotron {
  padding-top: 7rem;
  background-color: #ffa600;
}
#About {
  background-color: #273036;
  color: white;
}
#Stuff {
  background-color: #ffa600;
}
#Contact {
  background-color: #273036;
  color: white;
}
#bg-foot {
  background-color: #ffa600;
}
